body{
    background: linear-gradient(135deg, rgba(255,0,0,1) 0%, rgba(10,10,36,1) 34%, rgba(185,243,255,1) 97%);
    background-repeat: no-repeat;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(182, 182, 182);
}

h1{
    color: aliceblue;
    font-style: oblique;
}

.container{
    background: linear-gradient(rgba(0, 0, 0, 0.425), rgba(190, 186, 186, 0.267));
    padding: 10px;
    border-radius: 20px;
}

.content-title{
    width: 700px;
    display: flex;
    flex-direction: column;
}

button{
    cursor: pointer;
}

.content-title > img {
    align-self: center;
    width: 130px;
}

.forms-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 4px;
    button{
        background-color: rgb(19, 211, 19);
        border-radius: 10px;
        border: none;
    }
}

.input-text{
    height: 200px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    
}

#input-resultado{
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: rgb(61, 35, 35);
    text-decoration: underline;
}

.input-number{
    width: 30px;
}

@media screen and (max-width: 778px) {
    .container{
        width: 500px;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .input-text{
        width: 200px;
    }
    .content-title{
        width: auto;
    }
}

@media screen and (max-width: 558px) {
    .container{
        width: 350px !important;
    }
    .input-text{
        width: 150px;
    }
    .content-title{
        width: auto;
    }
}